body {
    background: #444;
    margin: 0;
    font-family: monospace;
	font: 12px Arial, Helvetica, sans-serif;
	color: black;
	background:url(images/55.png);
}


h1 {
    color: #fff;
    text-align: center;
}

/*Estilos de la galeria*/

.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria li {
    margin: 5px;
}

.galeria img {
    width: 150px;
    height: 100px;
}

/*Estilos del modal*/

.modal {
   position: absolute;
    top: -200%;
}

.modal:target {

    transition: all 0.5s;
    position: fixed;

    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}

.imagen {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.imagen a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagen img {
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}

.cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}
*
{
border: 0;
margin: 0;
}

img
{
border: 0px;
}


a{
	color: white;
	text-decoration:none;
}

a:hover{
	text-decoration: underline;
	color: #000000;
}

body{
	font: 12px Arial, Helvetica, sans-serif;
	color: black;
	background:url(images/5.png);
}

#bg{
	background:url(images/1.png) center top no-repeat;
}

#maintop{
	background: url(images/) 0px 0px no-repeat;
	width:801px;
	height: 9px;
}
#mainbot{
	background: url(images/3.png) no-repeat;
	width:801px;
	height: 14px;
}

#main{
	width: 801px;
	margin: 0px auto;
}

#header{
	width: 1100px;
	height: 173px;
	margin: 0px auto;
}

#logo{

	text-align: right;
	padding-top: 10px;
	height: 76px;
    background:url(images/3.png);
}

#logo img{
    width: 30%;
    position: relative;
}

#logo a {
	text-decoration: none;
	font-style: oblique;
	font-size: 26px;
	color: BLACK;
	font-weight: bold;
}


#logo H2 a{
	font-size: 10px;
}

#buttons{
	width: 1100px;
	height: 55px;
    background: #F7BE81;
    background:black;
	text-align:center;
}

#buttons ul {
    padding-left: 60px;
    margin: 0px;
}

#buttons li {
	display: inline;
}

#buttons a {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight:normal;
	display: block;
	float: left;
	width: 130px;
	height: 40px;
	text-decoration: none;
	color: white;
	padding-top: 11px;
	margin-right: 10px;
	text-align: center;
}

#buttons a:hover {
	text-decoration: underline;
	background: #FE642E 0px 2px repeat-x;
}

#content{
	width: 800px;
    align-content: center;

     background:url(images/);
}

#left{
	width: 550px;
	padding: 50px 1px 0px 0px;
	margin: 1px;
}



.text{
	padding: 25px;

	background: url(images/5.png) no-repeat top left;
}

#left H1{

	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 30px;

	color: black;
	padding-bottom: 1px;
}

input{
    padding: 10px 15px;
    color: #014B4B;
    background-color: #F3E2A9;
    border:10px #014B4B;
    border-radius: 6px;
}

.read{
	text-align:right;
	padding-right:20px;
}

#right{
float:right;
width: 257px;
}

#right ul
{
	list-style: none;
	padding-left:60px;
	margin: 0px;
	display:block;
	padding-bottom: 30px;
	padding-top: 20px;
	background:url(images/) no-repeat;
}

#right ul li{
	padding-bottom: 2px;
}

#archives ul li {
	margin-bottom: 5px;
	padding-left: 15px;

}

#right h2 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight:normal;
	color: #014B4B;
	text-align:center;
	padding-top: 14px;
	height: 30px;
	background: #FF0040 no-repeat;
}

#right li a {
	padding-left: 10px;
	background: url(images/) no-repeat 1px 5px;
}

#calendar {
	padding: 20px 20px 20px 20px;
	background: #F5F6CE left top no-repeat
}

#calendar table {
	width: 100%;
	text-align: center;
}

#calendar thead {

}

#calendar tbody td {
	border: 1px solid #F1F1F1;
}

#calendar #prev {
	text-align: left;
}

#calendar #next {
	text-align: right;
}

#calendar tfoot a {
	text-decoration: none;
	font-weight: bold;
}

#calendar #now {
	background: #696969;
	border: 1px solid black;
	font-weight: bold;
	color: #FFFFFF;
}

.lo { padding: 20px 20px 15px 20px;
}

.tit_b {
	background:url(images/) left top no-repeat;
}

#right H4 {
	font-size: 14px;
}

#right p
{
padding: 10px;
padding-left: 20px;
}

#footer{
	height: 37px;
	width: 801px;
	font-size: 10px;
	color: #014B4B;
	padding-top: 4px;
	text-align: center;
	clear:both;
	margin: 15px auto;
}

#footer a{
	color: #014B4B;
	font-size: 10px;
	text-decoration: none;
}
.padding{
	padding: 10px;
	color:#FF0000;
	font-weight: bold;
}

footer{
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
}

p{
    text-align: center;
    font-size: 20px;
}


.crear input{

   background: white;

}

.tabla{
    color: white;
    text-align: center;
}

